:root {
	--base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--color-dark: #010048;
	--color-medium: #010057;
	--color-light: #02006c;
	--color-text: #fff;
	--color-text-dark: #101010;
	--color-code-bg: #101010;
	--dark-border-color: rgba(255, 255, 255, 0.1);
	--color-extra-light: #f7f7f7;
	--border-radius: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
	font: 300 100% var(--base-font-family);
	color: var(--color-text-dark);
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul, ol {
	margin-left: 1.8em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

strong {
    font-weight: 500;
}

a {
	color: var(--color-text-dark);
	text-decoration: underline;
}

a:hover {
    color: var(--color-text-dark);
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.page-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
}
  
@media screen and (min-width: 37.5em) {
    .page-title {
        font-size: 2.3rem;
        line-height: 1.25;
    }
}

.page-content {
    margin-bottom: 2.5rem;
}
  
.page-content h2 {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 1.5em;
}

@media screen and (min-width: 37.5em) {
    .page-content h2 {
        font-size: 1.6em;
    }
}
  
.page-content h3 {
    font-size: 1.3em;
    font-weight: 500;
}
  
.page-content h4 {
    font-size: 1.05em;
    font-weight: 500;
}

@media screen and (min-width: 37.5em) {
    .page-content h4 {
        font-size: 1.1em;
    }
}
  
@media screen and (min-width: 62.5em) {
    .page-content h4 {
        font-size: 1.25em;
    }
}
  
.page-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.8rem;
}

@media screen and (min-width: 37.5em) {
    .page-content p {
        font-size: 1.4rem;
    }
}
  
.page-content ul,
.page-content ol {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
}

@media screen and (min-width: 37.5em) {
    .page-content ul,
    .page-content ol {
        font-size: 1.4rem;
    }
}

hr {
    margin: 3rem auto;
    border: 0;
    height: 2px;
    border-radius: 1px;
    background: currentColor;
    max-width: 6rem;
}

.page-next-spacex-launch .page {
    background: url(../img/spacex-bg-small.jpg) #000 no-repeat center;
    background-size: cover;
    color: #fff;
    position:relative
}

@media screen and (min-width: 62.5em) {
    .page-next-spacex-launch .page {
        background-image:url(../img/spacex-bg-large.jpg)
    }
}

.page-next-spacex-launch .page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.7)
}

.page-next-spacex-launch .page .post {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding: 2em 5% 3.5em;
    position: relative;
    z-index:1
}

@media screen and (min-width: 54.25em) {
    .page-next-spacex-launch .page .post {
        padding: 5%;
    }
}

.page-next-spacex-launch .page .post-header {
    text-align:center
}

.page-next-spacex-launch .page .page-title {
    color:#fff
}

.loading-state {
    text-align: center;
    min-height: 8.875rem;
    position: relative;
    margin-bottom:3em
}

.loading-state svg {
    animation: rotate 1.8s linear infinite;
    width: 1.25em;
    position: absolute;
    top: calc(50% - 0.75em);
    left:calc(50% - 0.75em)
}

.next-launch {
    padding: 0.8em 1em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3em;
    margin-bottom: 3em;
    display:grid
}

@media screen and (min-width: 62.5em) {
    .next-launch {
        padding: 1.5em;
        grid-template-columns: 1fr 3fr 0.5fr;
        grid-gap: 2rem;
    }
}

.launch-time .next-launch-day {
    margin: 0 0 0.05rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.launch-media img {
    max-width: 6rem;
    width: auto;
    margin: 1rem auto 0;
    display: block;
}

@media screen and (min-width: 62.5em) {
    .launch-media img {
        margin: 0 0 0 2rem;
        max-width: 10rem;
    }
}

.launch-time .next-launch-date {
    margin: 0;
}

.next-launch-time {
    margin: 0 0 0.5em;
}

.launch-details ul {
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
}

@media screen and (min-width: 62.5em) {
    .launch-details ul {
        margin: 0;
    }
}

.launch-details ul li {
    margin: 0;
}

.launch-details ul .detail-title {
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.03em;
    color: #9f9f9f;
    padding-right: 0.1em;
}

.launch-details p {
    font-size: 1.2rem;
    margin: 1.5rem 0 0;
}

.launch-video a {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.4375rem;
    padding: 0.3125rem 1.1875rem;
    display: inline-block;
    transition: 0.15s;
    margin-bottom: 1rem;
}

.launch-video a:hover {
    border-color: white;
}

.upcoming-launches {
    padding: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    margin-bottom: 3em;
}

.upcoming-launches .launches {
    list-style: none;
    margin: 0;
    padding:0
}

.upcoming-launches .launches > li {
    margin-bottom: 1.5em;
    display:grid
}

@media screen and (min-width: 62.5em) {
    .upcoming-launches .launches > li {
        grid-template-columns: 1fr 3fr 0.5fr;
        grid-gap: 1.5rem;
    }
}

.upcoming-launches .launches > li:last-child {
    margin-bottom:0
}

.upcoming-launches .launch-date {
    margin: 0;
    font-size:1em
}

.upcoming-launches .launch-time {
    margin: 0 0 0.3em;
    font-size:0.8em
}

.upcoming-launches .launch-detail {
    font-size:1.1rem
}

.data-source {
    text-align:center
}

.data-source p {
    margin:0
}

.data-source a {
    color:#fff
}

.data-source .data-source-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9em
}

.photo-credit {
    position: absolute;
    left: 1.18em;
    bottom: 1em
}

.photo-credit a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.site-footer {
    padding: 1.5rem;
    background: #333;
    color: #fff;
    font-weight: 400;
}

.site-footer p {
    margin-bottom: 0;
}

.site-footer a {
    color: #fff;
}

